{% load static %}

<footer>
    <img src="{% static 'img/logo.png' %}" />
    <ul>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara">Diseñador Logotipo: Flaticon</a></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara">Hola</a></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara">Mundo</a></li>
    </ul>
    <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'portfolio' %}">Portafolio</a></li>        
        <li><a href="https://www.instagram.com/">Instagram</a></li>
    </ul>   
    <ul>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara">Diseñador Logotipo: Flaticon</a></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara">Hola</a></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara">Mundo</a></li>
    </ul>
</footer>