{% extends 'layouts/base.html' %}

{% block title %}
    Inicio
{% endblock  %}

{% block content %}
    <h1>Albeiro Ramos - Fotógrafo</h1>
    <div class="about">
        <img src="https://picsum.photos/300/350" />
        <div class="about-content">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores exercitationem delectus laudantium cum, molestias non quidem, nulla ea aut voluptatem reprehenderit alias magnam sunt earum fugit consequuntur eum quas fuga.</p>
        </div>        
    </div>
{% endblock  %}